Space_Adventures\Temp\
Space_Adventures\Libary\
Space_Adventures\Libary

Space_Adventures/Library
Space_Adventures/Temp\*
Space_Adventures/Temp/*
Space_Adventures/Library/*
Space_Adventures/Library/AnnotationManager
Space_Adventures/Library/ArtifactDB
Space_Adventures/Library/APIUpdater/project-dependencies.graph
Space_Adventures/Library/ArtifactDB-lock
Space_Adventures/Library/Artifacts/00/000318605845798727520d236cfadeca
Space_Adventures/Library/Artifacts/00/000fb540e490ee5bc89c2aae810037b6
Space_Adventures/Library/Artifacts/00/001e0d44e1ccd0f4df5318c03157fddc
Space_Adventures/Library/Artifacts/00/00216af3694a9ff1ad2d3ad2c69900c8
Space_Adventures/Library/Artifacts/00/002c2c2f4de88cfcfdd9b2aea47de4d5
Space_Adventures/Library/Artifacts/00/002c2c2f4de88cfcfdd9b2aea47de4d5
Space_Adventures/Library/Artifacts/00/002c2c2f4de88cfcfdd9b2aea47de4d5
Space_Adventures/Library/Artifacts/00/002c2c2f4de88cfcfdd9b2aea47de4d5
Space_Adventures/Library/Artifacts/00/002c2c2f4de88cfcfdd9b2aea47de4d5
Space_Adventures/Library/Artifacts/00/002c2c2f4de88cfcfdd9b2aea47de4d5
Space_Adventures/Library/Artifacts/00/002c2c2f4de88cfcfdd9b2aea47de4d5
Space_Adventures/Library/Artifacts/00/002c2c2f4de88cfcfdd9b2aea47de4d5
Space_Adventures/Library/Artifacts/00/002c2c2f4de88cfcfdd9b2aea47de4d5
Space_Adventures/Library/Artifacts/00/002c2c2f4de88cfcfdd9b2aea47de4d5
Space_Adventures/Library/Artifacts/00/002c2c2f4de88cfcfdd9b2aea47de4d5
Space_Adventures/Library/Artifacts/00/002c2c2f4de88cfcfdd9b2aea47de4d5
Space_Adventures/Library/Artifacts/00/00577c3dc1f52274a4ac36b096ad68f3
Space_Adventures/Temp/UnityTempFile-e81996b5737e2904f87db52fec354a43
*.log
*.log
*.log
*.log
Space_Adventures/Logs/shadercompiler-UnityShaderCompiler.exe2.log
*.log
Space_Adventures/Library/EditorInstance.json
Space_Adventures/Library/ScriptAssemblies/Unity.2D.PixelPerfect.pdb
Space_Adventures/Library/Collab/Download/Assets/Plugins.meta
Space_Adventures/Library/Collab/Download/Assets/LevelGenerator/Demo/Scenes/SampleScene.unity
Space_Adventures/UserSettings/AndroidLogcatSettings.asset
Space_Adventures/Logs/ApiUpdaterCheck.txt
*.cache
*.csproj
Space_Adventures/Packages/manifest.json
Space_Adventures/Packages/packages-lock.json
Space_Adventures/ProjectSettings/NotificationsSettings.asset
Space_Adventures/Space_Adventures.sln
Space_Adventures/UpgradeLog.htm
Space_Adventures/.vs/Space_Adventures/v16/.suo
Space_Adventures/.vsconfig
Space_Adventures/Library/EditorInstance.json
